<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <!-- Spring 上下文实现类 -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.XmlWebApplicationContext
        </param-value>
    </context-param>

    <!-- spring 上下文XML配置文件路径 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:spring/*.xml
        </param-value>
    </context-param>

    <!-- 加载spring 上下文 Listener-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- POST中文乱码过滤器 -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SpringMvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!-- SpringMVc上下文实现类 -->
        <!-- 默认实现类 @See  FrameworkServlet.contextClass
             public static final Class<?> DEFAULT_CONTEXT_CLASS = XmlWebApplicationContext.class;
             private Class<?> contextClass = DEFAULT_CONTEXT_CLASS;

        <init-param>
            <param-name>contextClass</param-name>
            <param-value>
                org.springframework.web.context.support.XmlWebApplicationContext
            </param-value>
        </init-param>
        -->
        <!-- SpringMVc上下文Bean XML配置文件路径 -->
        <!-- 默认XML配置文件路径 规则
            @See  FrameworkServlet.createWebApplicationContext
                    String configLocation = getContextConfigLocation();
            @See  FrameworkServlet.configureAndRefreshWebApplicationContext(ConfigurableWebApplicationContext wac)
                     wac.setNamespace(getNamespace());
            @See  AbstractRefreshableWebApplicationContext.getConfigLocations()
            @See  XmlWebApplicationContext.getDefaultConfigLocations()
        -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/springmvc-servlet.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpringMvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
